{% extends "LaMaltiereSiteWebMaltiereBundle::layout.html.twig" %}

{% block section %}
    <section class="conteneur">
        <h2>Oups! Une erreur est survenue</h2>
		<div class="presentation">
			Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".<br />
			Nous nous excusons pour la gêne occasionée, veuillez réessayer ultérieurement ou contacter l'administrateur.
		</div>
    </section>
{% endblock %}